body { margin: 0; overflow: hidden; font-family: monospace; }
#info {
    position: absolute;
    top: 20px;
    left: 20px;
    background: black;
    color: white;
    padding: 10px;
    z-index: 100;
    border-radius: 8px;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}
